//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/behaviors.h>


// Definitions //

#define BASE 0
#define LOWER 1
#define RAISE 2
#define NAV 3
#define GAMING 4
#define VIM 5
#define ______ &trans
#define slashP &th LS(SLASH) P
#define HYPEReturn &tb LS(LC(LA(LGUI))) RETURN
#define MehSpace &tb LS(LC(LALT)) SPACE
#define BackVim &tc 5 BACKSPACE

// Combos//
/ {
    combos {
        compatible = "zmk,combos";

        combo_enter {
            timeout-ms = <40>;
            bindings = <&kp RETURN>;
            key-positions = <16 17 18>;
        };

        ctrl-backspace {
            timeout-ms = <40>;
            bindings = <&kp LC(BACKSPACE)>;
            key-positions = <27 28 29>;
        };

        left-parenthesis {
            timeout-ms = <40>;
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <6 7>;
        };

        right-parenthesis {
            timeout-ms = <40>;
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <7 8>;
        };

        left-bracket {
            timeout-ms = <40>;
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <16 17>;
        };

        right-bracket {
            timeout-ms = <40>;
            bindings = <&kp RIGHT_BRACKET>;
            key-positions = <17 18>;
        };

        left-brace {
            timeout-ms = <40>;
            bindings = <&kp LEFT_BRACE>;
            key-positions = <27 28>;
        };

        right-brace {
            timeout-ms = <40>;
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <28 29>;
        };

        combo_colon {
            timeout-ms = <40>;
            bindings = <&kp SEMI>;
            key-positions = <18 19>;
        };

        combo_angle {
            timeout-ms = <40>;
            bindings = <&angle_morph>;
            key-positions = <16 18>;
        };

    };

    behaviors {
        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <5 6 7 8 9 15 16 17 18 19 26 27 28 29 30 31 35 36 37>;
        };

        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "balanced";
            hold-trigger-on-release;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 25 32 33 34>;
        };

        th: th {
            compatible = "zmk,behavior-hold-tap";
            label = "Taphold";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        tb: tb {
            compatible = "zmk,behavior-hold-tap";
            label = "Thumb hold";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            // require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        tc: tc {
          compatible = "zmk,behavior-hold-tap";
          label = "Thumb hold for layer";
          bindings = <&mo>, <&kp>;

          #binding-cells = <2>;
          tapping-term-ms = <280>;
          quick-tap-ms = <175>;
          require-prior-idle-ms = <150>;
          flavor = "tap-preferred";
      };
        
        tb_B: tb_B {
            compatible = "zmk,behavior-tap-dance";
            label = "TB_B";
            #binding-cells = <0>;
            bindings = <&kp B>, <&kp LC(B)>;
            tapping-term-ms = <200>;
        };

        angle_morph: angle_morph {
            compatible = "zmk,behavior-mod-morph";
            label = "angle_morph";
            #binding-cells = <0>;
            bindings = <&kp LT>, <&kp GT>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        GamRT: GamRT {
            compatible = "zmk,behavior-mod-morph";
            label = "GamRT";
            #binding-cells = <0>;
            bindings = <&kp R>, <&kp T>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        GamFG: GamFG {
            compatible = "zmk,behavior-mod-morph";
            label = "GamFG";
            #binding-cells = <0>;
            bindings = <&kp F>, <&kp G>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        GamVB: GamVB {
            compatible = "zmk,behavior-mod-morph";
            label = "GamVB";
            #binding-cells = <0>;
            bindings = <&kp V>, <&kp B>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        GamEI: GamEI {
            compatible = "zmk,behavior-mod-morph";
            label = "GamEI";
            #binding-cells = <0>;
            bindings = <&kp E>, <&kp I>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        vim_left: vim_left {
          compatible = "zmk,behavior-mod-morph";
          label = "vim_left";
          #binding-cells = <0>;
          bindings = <&kp LEFT>, <&kp N0>;
          mods = <(MOD_LSFT | MOD_RSFT)>;
      };
        
        vim_right: vim_right {
          compatible = "zmk,behavior-mod-morph";
          label = "vim_right";
          #binding-cells = <0>;
          bindings = <&kp RIGHT>, <&kp DLLR>;
          mods = <(MOD_LSFT | MOD_RSFT)>;
      };


    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                              &kp B           &kp L         &kp D         &HML LGUI W   &kp Z           &kp SQT       &HMR LGUI F   &kp O         &kp U         &kp J
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                              &lt 2 N         &HML LCTRL R  &HML LALT T   &lt 3 S       &kp G           &kp Y         &lt 3 H       &HMR LALT A   &HMR LCTRL E  &lt 2 I
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                &tog 4        &kp Q           &kp X         &kp M         &kp C         &kp V           &kp K         slashP        &kp DOT       &kp MINUS     &kp SLASH     &kp COMMA
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                            &mo 1         &kp BACKSPACE &kp LSHFT       HYPEReturn    MehSpace      &mo 2
                //                                        ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };


        LOWER {
            display-name = "Lower";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                              ______          &kp AMPS       &kp STAR     ______        ______          ______        &kp N7        &kp N8        &kp N9        &kp N0
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                              &kp ESCAPE      &kp DLLR       &kp PRCNT    &kp CARET     ______          ______        &kp N4        &kp N5        &kp N6        ______
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                ______        ______          &kp EXCL       &kp AT       &kp HASH      ______          ______        &kp N1        &kp N2        &kp N3        ______        ______
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯
                                                             ______       ______        ______          ______        ______        ______
                                     //                   ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        RAISE {
            display-name = "Raise";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                              ______          ______        ______        ______        ______          &kp F12       &kp F7        &kp F8        &kp F9        &kp TILDE
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                              &kp ESC         ______        &kp MINUS     &kp EQUAL     ______          &kp F11       &kp F4        &kp F5        &kp F6        &kp BSLH
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                ______        ______          ______        &kp UNDER     &kp PLUS      ______          &kp F10       &kp F1        &kp F2        &kp F3        &kp PIPE      &kp GRAVE
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯             
                                                            ______        ______        ______          ______        ______        ______
            //                                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                              ______          &kp LGUI(TAB) &kp DELETE    &kp C_MUTE    &bt BT_NXT      ______        &kp LGUI(C)   &kp UP        &kp LGUI(V)     ______
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                              &kp ESCAPE      &kp TAB       ______        &kp C_VOL_UP  &bt BT_CLR      &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp LGUI(EQUAL)
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                ______        ______          ______        ______        &kp C_VOL_DN  ______          ______        &kp PG_UP     &kp CAPSLOCK  &kp PG_DN     &kp LGUI(MINUS)  ______
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯             
                                                            ______        ______        ______          ______        ______        ______
            //                                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        GAMING {
            display-name = "Gaming";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                               &kp TAB         &kp Q         &kp W         &GamEI        &GamRT           ______        ______        ______        ______        ______
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                               &kp LCTL        &kp A         &kp S         &kp D         &GamFG           ______        ______        ______        ______        ______
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                &tog 4         &kp LALT        &kp Z         &kp X         &kp C         &GamVB            ______        ______        ______        ______         ______      ______ 
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯             
                                                             ______        &kp SPACE     ______           ______        ______        ______
            //                                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

        VIM {
            display-name = "Vim";
            bindings = <
            //              ╭───────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
                              &kp LC(O)       ______        &kp DELETE    &kp LC(U)     &kp PG_UP       &kp PG_DN     &kp LC(D)     ______        ______        &kp LC(I)
            //              ├───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
                              &kp LC(LEFT)    ______        ______        ______        ______          &vim_left     &kp DOWN      &kp UP        &vim_right    &kp LC(RIGHT)
            //╭─────────────┬───────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮
                ______       ______           ______        ______        ______        ______          ______        ______        ______        ______        ______        ______ 
            //╰─────────────┬───────────────┼─────────────┴─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┴─────────────┴─────────────┴─────────────╯             
                                                            ______        ______        ______          ______        ______        ______
            //                                            ╰─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────╯
            >;
        };

    };

};
